In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/freeCodeCamp/boilerplate-demographic-data-analyzer/master/adult.data.csv'
df = pd.read_csv(url)

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

##### **How many people of each race are represented in this dataset?**

In [4]:
race_count = df.groupby('race')['race'].count()
race_count

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: race, dtype: int64

##### **What is the average age of men?**

In [5]:
avg_age_men = round(df.loc[df['sex'] == 'Male', 'age'].mean(), 1)
avg_age_men

39.4

##### **What is the percentage of people who have a Bachelor's degree?**

In [6]:
perct_bacherlors_degree = round(len(df.loc[df['education'] == 'Bachelors']) / len(df) * 100, 1)
perct_bacherlors_degree

16.4

#### **What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?**

In [7]:
higher_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education_salary = round(len(higher_education.loc[higher_education['salary'] == '>50K']) / 
                                len(higher_education) * 100, 1)
higher_education_salary

46.5

#### **What percentage of people without advanced education make more than 50K?**

In [8]:
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education_salary = round(len(lower_education.loc[lower_education['salary'] == '>50K']) / 
                               len(lower_education) * 100, 1)
lower_education_salary

17.4

#### **What is the minimum number of hours a person works per week?**

In [9]:
min_hours_per_week = df['hours-per-week'].min()
min_hours_per_week

1

#### **What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?**

In [10]:
num_min_workers = len(df.loc[df['hours-per-week'] == min_hours_per_week])
min_hours_50k_sal = len(df.loc[(df['hours-per-week'] == min_hours_per_week) & 
                               (df['salary'] == '>50K')]) / num_min_workers * 100
min_hours_50k_sal

10.0

#### **What country has the highest percentage of people that earn >50K and what is that percentage?**

In [11]:
max_perc_50k_sal_country = (df.loc[df['salary'] == '>50K']['native-country'].value_counts() /
                           df['native-country'].value_counts() * 100).idxmax()
max_perc_50k_sal = round((df.loc[df['salary'] == '>50K']['native-country'].value_counts() / 
                    df['native-country'].value_counts() * 100).max(), 1)
max_perc_50k_sal_country, max_perc_50k_sal

('Iran', 41.9)

#### **Identify the most popular occupation for those who earn >50K in India.**

In [12]:
india_occupation_50k_sal = df.loc[(df['salary'] == '>50K') & 
                                  (df['native-country'] == 'India')]['occupation'] \
                                  .value_counts().idxmax()
india_occupation_50k_sal

'Prof-specialty'